.navbar {
    display: flex;
    /* background-color: rgb(93, 93, 241); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar_left {
    display: flex;
    gap: 10px;
    padding-left: 10rem;
    cursor: pointer;
}

.navbar_left img {
    width: 80px;
}

.content h1 {
    font-size: 25px;
    margin-top: 16px;
}

.white {
    color: #fff;
    margin: auto
}
/* .navbar_right .white{
    align-items: end;
} */

.navbar_right ul{
    display: flex;
    flex-direction: column;
    padding-right: 14rem;
}

.navbar_right ul li {
    list-style: none;
    cursor: pointer;
    display: contents;
}


li:nth-child(7) {
    color: red;
  }

li {
    font-size: 17px;
}

.sub_nav {
    background-color: #9c9c9c;
    color: white;
    /* padding: 2px; */
}

.sub_nav ul li:hover {
    color: rgb(93, 93, 241);
    cursor: pointer;
}

.sub_nav ul {
    display: flex;
    gap: 30px;
    justify-content: start;
    padding: 5px;
    margin-left: 180px;
    flex-wrap: wrap;
}

.sub_nav ul li {
    list-style: none;
}